{% extends 'adminBase.html.twig' %}
{% block body %}
        <div class="container-fluid">
            <form class="col-md-8 offset-md-4 " method="post">
                <h3>Modifier le mot de passe</h3>
                <div class="row">
                    <input type="password" name="AncienPassword" id="Password" class="form-control col-6"
                    placeholder="Ancien mot de passe" required>
                    <p class="col-6 text-danger">{% if error2 is defined %} {{ error2 }}{% endif %}</p>
                    <input type="password" name="NewPassword" id="inputPassword" class="form-control col-6"
                    placeholder="Nouveau mot de passe" required>
                    <p class="col-6 text-danger"> </p>
                    <input type="password" name="ConfirmePassword" id="inputPassword" class="form-control col-6"
                    placeholder="Confirmation du mot de passe" required>
                    <p class="col-6 text-danger">{% if error1 is defined %} {{ error1 }}{% endif %}</p>
                </div>
                <button class="btn btn-lg btn-danger float" style="margin-left: 100px;" type="submit">Valider
                </button>
                <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">
            </form>
        </div>
{% endblock %}