{% extends 'adminBase.html.twig' %}
{% block body %}
        <div class="container">
            <form class="col-md-3 offset-md-4" method="post">
                <h3>Edition password</h3>
                <label for="inputPassword" class="sr-only">Ancien password</label>
                <input type="password" name="AncienPassword" id="Password" class="form-control" 
                placeholder="{% if error is defined %} {{ error2 }}{% else %}Ancien password{% endif %}" required>

                 <label for="inputPassword" class="sr-only">Nouveau password</label>
                <input type="password" name="NewPassword" id="inputPassword" class="form-control" 
                placeholder="{% if error is defined %} {{ error1 }}{% else %}Nouveau password{% endif %}" required>

                 <label for="inputPassword" class="sr-only">Confirme password</label>
                <input type="password" name="ConfirmePassword" id="inputPassword" class="form-control" 
                placeholder="{% if error is defined %} {{ error1 }}{% else %}Confirme password{% endif %}" required>

                <button class="btn btn-lg btn-primary float-right" type="submit">Valider
                </button>

                <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">
            </form>
        </div>
{% endblock %}