{% extends 'adminBase.html.twig' %}

{% block title %}Edit Partner{% endblock %}

{% block body %}
    <h1>Modifier un Partenaire</h1>

    {{ include('partner/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('partner_index') }}" class="text-success">retour liste</a>

    {{ include('partner/_delete_form.html.twig') }}
{% endblock %}
