{% extends 'adminBase.html.twig' %}

{% block title %}Nouveau theme{% endblock %}

{% block body %}
    <h1>Création d'un nouveau theme</h1>

    {{ include('admin/theme/_form.html.twig') }}

    <a href="{{ path('theme_index') }}">retour à la liste des themes</a>
{% endblock %}
