{% extends 'adminBase.html.twig' %}

{% block title %}Edition pages statiques{% endblock %}

{% block body %}

    <h1>Liste des pages statiques éditables</h1>

    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Titre</th>
                <th>#</th>

            </tr>
        </thead>
        <tbody>
        {% for content in contents %}
            <tr>
                <td>{{content.id}}</td>
                <td>{{ content.titleFr }}</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary"> <a href="{{ path('static_edit', {'id': content.id}) }}">edit</a></button>
                  </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
