{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('indexHF') }}
{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col-xl-6 col-sm-12">
                <div class="blocktext-1 ">
                    <h3>Actualité</h3>
                    <p>Toutes les actualités du festival et de l'association !</p>
                </div>
            </div>
            <div class="col-xl-6 col-sm-12">
                <div class="image-1">
                    <div class="relative">
                        <a>
                            <img src="https://via.placeholder.com/200x150">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-sm-12">
                <div class="image-2">
                    <div class="relative">
                        <a>
                            <img src="https://via.placeholder.com/200x150">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-sm-12">
                <div class="blocktext-2 ">
                    <h3>Le Festival</h3>
                    <p>Pour tout savoir sur le festival.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-sm-12">
                <div class="blocktext-3">
                    <h3>Spectacles en tournée</h3>
                    <p>Tous les spectacles en tournée.</p>
                </div>
            </div>
            <div class="col-xl-6 col-sm-12">
                <div class="image-3">
                    <div class="relative">
                        <a href="">
                            <img src="https://via.placeholder.com/200x150">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-sm-12">
                <div class="image-4">

                    <div class="relative">
                        <a href="">
                            <img src="https://via.placeholder.com/200x150">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-sm-12">
                <div class="blocktext-4 ">
                    <h3>Hors-Scène</h3>
                    <p>Tous les événements autres que les spectacles.</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


