{% extends 'base.html.twig' %}

{% block title %}Edit Edition{% endblock %}

{% block body %}
    <h1>Edit Edition</h1>

    {{ include('edition/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('edition_index') }}">back to list</a>

    {{ include('edition/_delete_form.html.twig') }}
{% endblock %}
