@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/solid';

$primary-color: #FFFFFF;
$secondary-color: #E5E5E5;
$warm-color: #ffd64f;
$admin-body-color :#ffffff;
$admin-primary-color:#9b0000;
$admin-secondary-color: #d50000;
$admin-third-color: #ff5131;
$admin-primary-color-text: white;
$admin-container-color:#e1e2e1;
$admin-inner-container-color: #f5f5f6;