@import "vars";
@import "~bootstrap/scss/bootstrap";

.blockBandeau1{
  background-color: #e1e2e1;
  padding: 50px;
}
.blockBandeau2{
  padding: 50px;
}

.blockImage{
  width: 500px;
  height: 300px;
}

.blocktext-1,
.blocktext-2,
.blocktext-3,
.blocktext-4,
.blocktext-5 {
  height: 300px;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.7s all ease-in-out;
}

.appear {
  opacity: 1;
  transform: translateY(0);
}
