@import "vars";


.card-news
{
    margin-bottom: 3em;
    padding-bottom: 3em;
    border-bottom: solid;
    border-width: thin;
    border-color: #E5E5E5;
}

.card-img
{
    border: solid;
    border-width: thin;
    border-color: black;
}

.content
{
    padding-top: 80px;
}

