@import "vars";


.card-news
{
    margin-bottom: 3em;
    padding-bottom: 3em;
    border-bottom: solid;
    border-width: thin;
    border-color: #E5E5E5;
}

.card-img
{
    height : 30em;
    border: solid;
    border-width: thin;
    border-color: black;
    padding: 0px;
}

.content
{
    padding-top: 80px;
    padding-left: 20px;
}