{% extends 'adminBase.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <h1>Bienvenu sur la partie administration !</h1>
        </div>

        <div class="row">


        </div>
    </div>

{% endblock %}