{% extends 'adminBase.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <h1>Bienvenue sur la partie administration !</h1>
        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-12">
                <h5>PAGE CONTENU</h5>
                <p>
                    Sur cette page, vous pourrez accéder à tous les contenus. Sélectionner un type de contenu pour avoir une liste complète de ces contenus.
                </p>
                <hr>
                <br>

                <h5>CREER DE NOUVEAUX CONTENUS</h5>
                <p>
                    Pour créer de nouveaux contenus, cliquer sur sur le bouton « nouveau contenu » dans la page contenu.
                    Cette nouvelle page vous demande quel type de contenu vous voulez créer. Une fois choisi, vous êtes redirigé
                    vers un formulaire comprenant les champs requis pour compléter le nouveau contenu.
                </p>

                <hr>
                <br>

                <h5>GESTION DES SPECTACLES</h5>
                <p>
                    Lorsque vous créez un nouveau spectacle, plusieurs boutons apparaissent en haut de la page.
                    Le bouton « gérer les représentations » vous permet d’accéder à la liste des représentations du spectacle pré-selectionné.
                    Pour créer une nouvelle représentation, vous avez un petit formulaire en haut de page.
                    Vous ne pouvez accéder aux représentations que par cette méthode.
                    Sélectionnez les autres contenus qui font écho à ce spectacle dans la partie « Sélectionner les « En Echo » ».
                    Sélectionnez les thèmes (comme « cycle Russe ») de la même manière que les contenus en écho.

                    Le thumbnail est l’image qui apparaît dans les étiquettes, la cover est le grand bandeau qui apparaît en premier dans les pages spectacle.
                    Une seule image peut être téléchargée par ce moyen.
                    En revanche, en fin de formulaire, vous pouvez télécharger plusieurs images à la fois.
                </p>

                <hr>
                <br>

                <h5>CREATION DES PARTENAIRES/TARIFS/THEMES</h5>
                <p>
                    Cliquez tout simplement sur le bouton « nouveau » dans la page correspondante et suivez le formulaire :)
                </p>

                <hr>
                <br>

                <h5>CREATION ET GESTION DES EDITIONS</h5>
                <p>
                    Pour créer une nouvelle édition, rien de plus simple, cliquez sur « nouvelle » et remplissez le formulaire.
                    Les éditions peuvent être spécifiées « en ligne », « hors ligne » et « archivée ». Une seule édition peut être en ligne.
                    Les éditions archivées apparaîtront dans la page utilisateurs « archives ». Les icônes (thumbnail) des éditions permettront aux utilisateurs
                    d’aller sur la page de tous les contenus liés à cette éditions. Les éditions « hors ligne » n’apparaissent nulle part côté utilisateur.
                    Elles ne sont visibles que du côté administrateur.

                    Enfin la page fichier permet de voir tous les fichiers téléchargés.
                </p>

                <hr>
                <br>

                <h5>POUR LA MODIFICATION DES FICHIERS</h5>
                <p>
                    Pour modifier un contenu, aller sur la page correspondant à ce contenu ou accéder à la liste correspondante, et
                    cliquer le bouton « modifier ».
                </p>

                <hr>
                <br>

                <h5>POUR LA SUPPRESSION DES CONTENUS</h5>
                <p>
                    De même que pour les modifications, allez sur la page correspondante au contenu, cliquer sur « modifier »
                    puis tout en bas du formulaire, cliquez sur « supprimer ».
                </p>


            </div>

            </div>
        </div>
    </div>

{% endblock %}
