<form method="post" action="{{ path('sifile_delete', {'id': si_file.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ si_file.id) }}">
    <button class="btn">Supprimer</button>
</form>
