{% extends 'base.html.twig' %}

{% block title %}Edit SiFile{% endblock %}

{% block body %}
    <h1>Edit SiFile</h1>

    {{ include('si_file/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('si_file_index') }}">back to list</a>

    {{ include('si_file/_delete_form.html.twig') }}
{% endblock %}
