{% extends 'base.html.twig' %}

{% block title %}New SiFile{% endblock %}

{% block body %}
    <h1>Create new SiFile</h1>

    {{ include('si_file/_form.html.twig') }}

    <a href="{{ path('si_file_index') }}">back to list</a>
{% endblock %}
