{% extends 'adminBase.html.twig' %}

{% block title %}New Content{% endblock %}

{% block body %}
    <div class="title px-4 pb-4 pt-2"><h1>Créer un nouveau spectacle</h1></div>

<div class="container">
    <a href="{{ path('show_index') }}"><button class="btn btn-primary m-2">	Retourner aux spectacles</button>	</a>
    {{ include('admin/show/_form.html.twig') }}
</div>
{% endblock %}
