{% extends 'adminBase.html.twig' %}

{% block title %}Edition{% endblock %}

{% block body %}
<div class="container-fluid" style="padding-left: 100px; padding-right: 100px;">
    <h1>Nouvelle édition</h1>

    {{ include('admin/edition/_form.html.twig') }}

    <a href="{{ path('edition_index') }}" class="btn btn-info btn-sm">Retour</a>
</div>
{% endblock %}
