{% extends 'base.html.twig' %}

{% block stylesheets %}
        {{ encore_entry_link_tags('newsDetails') }}
{% endblock %}
{% block body %}

	    <div class="container-fluid content">
	    <h1>{{ content.titleFr }}</h1>
	    	<div class="row">
        <img src="https://via.placeholder.com/120" class="card-img col-5" alt="...">
        <p class="col-7">{{ content.contentFr }}<p>
			</div>
		</div>

{% endblock %}
