{% extends 'adminBase.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <h1>Création news</h1>

    {{ include('news/_form.html.twig') }}

    <a href="{{ path('news_index') }}">retour liste</a>
{% endblock %}
