{% set session = app.session.get('session') %}
{% if session['language'] is not defined %}
{% set language = "fr" %}
{% else %}
{% set language = session['language'] %}
{% endif %}

<div class="container-fluid bg-footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <h5>{% trans into language %}NOUS CONTACTER{% endtrans %}</h5>
                    <!-- Button Modal Contact -->
                    <a href="#" data-toggle="modal" data-target="#ContactModal">
                        {% trans into language %}Envoyer un mail{% endtrans %}
                    </a><br><br>
                    <span class="adress">{% trans into language %}14 rue Basse Combalot{% endtrans %} | 69007 Lyon FRANCE</span>
                </div>

                <div class="col-xl-4 col-md-6 col-sm-12">
                    <h5>{% trans into language %}INFOS PRATIQUES{% endtrans %}</h5>
                    <a href="{{ path('index_festival') }}">{% trans into language %}Accueil{% endtrans %}</a><br>
                    <a href="#">Sens Interdits</a><br>
                    <a href="#">{% trans into language %}Mentions légales{% endtrans %}</a>
                </div>

                <div class="col-xl-4 col-md-6 col-sm-12">
                    <h5>NEWSLETTER</h5>
            <!-- Begin Mailchimp Signup Form -->
                    <form action="https://wix.us10.list-manage.com/subscribe/post?u=bb60c0f0d68fe87e07e39b3ce&amp;id=8874bc7e3e"
                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                          class="validate" target="_blank" novalidate>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Votre adresse mail" required>

                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_bb60c0f0d68fe87e07e39b3ce_8874bc7e3e" tabindex="-1" value="">
                        </div>
                        <div class="clear">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                        </div>
                    </form>
            <!-- End Mailchimp Signup Form -->
                    <div class="row">
                        <div class="col-1">
                            <a href="https://www.facebook.com/sens.interdits/"><i class="fab fa-facebook" style="color: white"></i></a>
                        </div>
                        <div class="col-1">
                            <a href="https://twitter.com/sens_interdits"><i class="fab fa-twitter" style="color: white"></i></a>
                        </div>
                        <div class="col-1">
                            <a href="https://www.youtube.com/channel/UCIoz5kqDlIfEuRR4gxXDfFw"><i class="fab fa-youtube" style="color: white"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Modal Contact Form -->
    <div class="modal fade bd-example-modal-lg" id="ContactModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="container">
                    <div class="row">

                        <div class="col-xl-6" style="padding: 20px;">

                            <div>
                                <h4 style="color: #d50000;">Association Sens Interdits</h4>
                            </div>

                            <div class="geoMap">
                                <div class="gmap_canvas">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.810168029851!2d4.839769250995948!3d45.
                                            75495152191397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ea5b249b6c6b%3A0x27902036f0ebb69!2sSens+Interdits!
                                            5e0!3m2!1sfr!2sfr!4v1562312994644!5m2!1sfr!2sfr"
                                            width="300" height="300" frameborder="0" style="border:0">
                                    </iframe>
                                </div>
                            </div>

                            <div class="mapAddress">
                                <span>{% trans into language %}14 rue Basse Combalot{% endtrans %}</span><br>
                                <span>69007 Lyon FRANCE</span>
                                <p>Mail : festivalsensinterdits@gmail.com</p>
                                <p>Tel : 09 67 02 00 85</p>
                            </div>

                            <div>
                                <h4 style="color: #d50000;">Newsletter</h4>
                                <!-- Begin Mailchimp Signup Form -->
                                <form action="https://wix.us10.list-manage.com/subscribe/post?u=bb60c0f0d68fe87e07e39b3ce&amp;id=8874bc7e3e"
                                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                      class="validate" target="_blank" novalidate>
                                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Votre adresse mail" required>

                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                        <input type="text" name="b_bb60c0f0d68fe87e07e39b3ce_8874bc7e3e" tabindex="-1" value="">
                                    </div>
                                    <div class="clear">
                                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                                    </div>
                                </form>
                                <!-- End Mailchimp Signup Form -->
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel" style="color: #d50000;">{% trans into language %}Nous écrire par mail{% endtrans %}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <form method="post" action="{{ path('contact') }}">
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="nom">{% trans into language %}Nom{% endtrans %}</label>
                                            <input type="text" class="form-control" id="nom" name="nom" required>
                                        </div>
                                        <div class="col-6">
                                            <label for="prenom">{% trans into language %}Prénom{% endtrans %}</label>
                                            <input type="text" class="form-control" id="prenom" name="prenom" required>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="email">Mail</label><br>
                                            <input type="email" class="form-control" id="email" name="email" required>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="title">{% trans into language %}Titre du mail{% endtrans %}</label><br>
                                            <input type="text" class="form-control" id="title" name="title" required>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="message">{% trans into language %}Votre message{% endtrans %}</label><br>
                                            <textarea class="form-control" id="message" name="message" rows="10" required></textarea>
                                            <input type="hidden" name="url" value="{{ path(app.request.attributes.get('_route'),
                                                app.request.attributes.get('_route_params')) }}">
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans into language %}Fermer{% endtrans %}</button>
                                        <button type="submit" class="btn btn-primary">{% trans into language %}Envoyer{% endtrans %}</button>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
