<div class="container-fluid bg-footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h5>NOUS CONTACTER</h5>
                    <!-- Button Modal Contact -->
                    <a href="#" data-toggle="modal" data-target="#ContactModal">
                        Envoyer un mail
                    </a><br><br>
                    <span class="adress">14 rue Basse Combalot | 69007 Lyon FRANCE</span>
                </div>

                <div class="col-4">
                    <h5>INFOS PRATIQUES</h5>
                    <a href="{{ path('index') }}">Accueil</a><br>
                    <a href="#">Sens Interdits</a><br>
                    <a href="#">Mentions légales</a>
                </div>

                <div class="col-4">
                    <h5>NEWSLETTER</h5>
                    <input type="email" id="newsletter" name="newsletter"/>
                    <a href="#"> S'inscrire</a><br><p></p>
                    <div class="row">
                        <div class="col-1">
                            <a href="https://www.facebook.com/sens.interdits/"><i class="fab fa-facebook" style="color: white"></i></a>
                        </div>
                        <div class="col-1">
                            <a href="https://twitter.com/sens_interdits"><i class="fab fa-twitter" style="color: white"></i></a>
                        </div>
                        <div class="col-1">
                            <a href="https://www.youtube.com/channel/UCIoz5kqDlIfEuRR4gxXDfFw"><i class="fab fa-youtube" style="color: white"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Modal Contact Form -->
    <div class="modal fade" id="ContactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contacter Sens Interdit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <label for="nom">Nom</label>
                            <input type="text" class="form-control" id="nom" name="nom">
                        </div>
                        <div class="col-6">
                            <label for="prénom">Prénom</label>
                            <input type="text" class="form-control" id="prénom" name="prénom">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <label for="mail">Mail</label><br>
                            <input type="email" class="form-control" id="mail" name="mail">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <label for="message">Votre message</label><br>
                            <textarea class="form-control" id="message" name="message" rows="10"></textarea>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary">Envoyer</button>
                </div>
            </div>
        </div>
    </div>
</div>