<div class="container">
    <footer>
        <div class="row">
            <div class="col-4">
                <h5>NOUS CONTACTER</h5>
                <!-- Button Contact -->
                <a href="#ContactModal">
                    Contact
                </a><br>
                <span>Adresse</span>
            </div>

            <div class="col-4">
                <h5>INFOS PRATIQUES</h5>
                <a href="{{ path('index') }}">Accueil</a><br>
                <a href="#">Sens Interdits</a><br>
                <a href="#">Mentions légales</a>
            </div>

            <div class="col-4">
                <h5>NEWSLETTER</h5>
                <input type="email" id="newsletter" name="newsletter"/>
                <button type="submit" class="btn">S'inscrire</button>
            </div>
        </div>
    </footer>

    <!-- Modal Contact Form-->
    <div class="modal fade" id="ContactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contacter Sens Interdit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body">
                    ...
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary">Envoyer</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
col 1
- nous contacter

col 2
- lien vers page accueil
- Lien vers page association
- adresse
- mentions légales

col 3
- newsletter
- réseaux sociaux

-->