 <div class="navBg">
 	<div class="container-fluid">
 		<form method="post">
    	<button name="language" value="fr" class="btn btn-default">
     	<img class="m-0" src="/drapFr.jpg" width="30" style="border:solid; border-width: thin;"	 />
		</button>
    	<button name="language" value="en_EN" class="btn btn-default">
     	<img src="/drapEn.jpg" width="30" style="border:solid; border-width: thin;" />
		</button>
</form>
</div>
	 <div class="container">
	 	<div class="row">
	 	<img class="col-12 col-md-3" src="/logoNavbar.png" width="328" height="129" alt="">
	 	<nav class="navbar navbar-expand-lg navbar-dark bg-dark col-8 offset-1">
	  	<button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
	    <span class="navbar-toggler-icon"></span>
	  	</button>
	  	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    	<a class="nav-item nav-link" href="#">Programmation</a>
		    <a class="nav-item nav-link" href="#">Billetterie</a>
		    <a class="nav-item nav-link" href="#">Sens Interdits</a>
		    <a class="nav-item nav-link" href="#">Partenaires</a>
		    <a class="nav-item nav-link" href="#">Archives</a>
		    <a class="nav-item nav-link" href="#">Soutenez-nous</a>
		    <a class="nav-item nav-link" href="#">Contact</a>
	    </div>
		</nav>
	    </div>
	</div>
</div>