<div class="nav">
	<img src="./logoNavbar.png" width="30" height="30" class="d-inline-block align-top" alt="">
	<div class="container ">
		<nav class="row navbar bg-dark col-8.1 offset-4 ">|
	      <a class="nav-item nav-link " href="#">Programmation</a>|
	      <a class="nav-item nav-link" href="#">Billetterie</a>|
	      <a class="nav-item nav-link" href="#">Sens Interdits</a>|
	      <a class="nav-item nav-link" href="#">Partenaires</a>|
	      <a class="nav-item nav-link" href="#">Archives</a>|
	      <a class="nav-item nav-link" href="#">Soutenez-nous</a>|
	      <a class="nav-item nav-link" href="#">Contact</a>|
	    </nav>
    </div>
 </div>
