{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nos Partenaires</h1>

    <div class="container">
        <div class="row">
            {% for partner in partners %}

                <h2> {{ partner.typeName }} </h2>
                <div class="d-flex justify-content-around">
                    {{ partner.logo }}
                    {{ partner.name }}
                    {{ partner.link }}
                </div>

                
             {% endfor %}
        </div>
    </div>

{% endblock %}
