{% if content.sessions is defined  %}
	<table class="table">
		<thead>
			<tr>
				<th >SessionDate</th>
				<th>Location</th>
				<th>réservation</th>
			</tr>
		</thead>
		<tbody>
			{% for session in content.sessions %}
				<tr>
					<td>{{ session.sessionDate ? session.sessionDate|date('d-m-Y à H:i') : '' }}</td>
					<td>{{ session.location }}</td>
					<td>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}