<div class="row">
            <div class="col-md-10 col-offset-md-1 d-flex">               
                <div class="mr-4 d-flex align-items-center redPill">
                        {# country #}
                    <p class="m-auto px-1 d-block">{{content.countryFr}}</p> 
                </div>
                <div class="mr-2 mt-2"> <!-- Show's LOGOS (1 or more) NEED A FOR LOOP IN TWIG -->
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Logo_TV_2015.png/280px-Logo_TV_2015.png" alt="logo1" height="40rem" width="40rem">
                </div>
                <div class="mr-2 mt-2">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Logo_TV_2015.png/280px-Logo_TV_2015.png" alt="logo2" height="40rem" width="40rem">
                </div>
                <div class="mr-2 mt-2">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Logo_TV_2015.png/280px-Logo_TV_2015.png" alt="logo3" height="40rem" width="40rem">
                </div>
                <div class="mr-2 mt-2">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Logo_TV_2015.png/280px-Logo_TV_2015.png" alt="logo3" height="40rem" width="40rem">
                </div>
                <div class="mr-2 mt-2">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Logo_TV_2015.png/280px-Logo_TV_2015.png" alt="logo3" height="40rem" width="40rem">
                </div>
            </div>
        </div>