<div class="d-flex flex-column justify-content-around">
{% for picture in show.pictures %}
	<div class="p-2">
		<img src="/upload/file/{{ picture.mediaFileName }}" class="card-img" alt="show photo"/>
	</div>
{% endfor %}
</div>