{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
<div class="container-fluid p-0">
                {# Image de couverture avec le titre #}
    {% include '/userContent/_contentCover.html.twig' %}

    <div class="container p-0 d-flex">
                {# pays et logo des themes du spectacle #}
        {% include '/userContent/_contentLogoCountry.html.twig' %}
    </div>
    
    <div class="container px-0 py-2 d-flex justify-content-center m-auto">
        <div class="mt-4 row no-gutters">
            <div class="col-md-6 px-2 pr-md-3"> {# Bloc du contenu enrichi #}
                <div> {# Bloc des infos pratiques #}
                    {% include '/userContent/_contentInfospratiques.html.twig' %}
                </div>
                {{content.contentFr|raw}}
            </div>
            
            {% if content.pictures is defined%}
            <div class="col-md-5"> {# Bloc des illustrations du contenu #}             
                {% include '/userContent/_contentPictures.html.twig' %}
            </div>
        {% endif %}
            
            <div class="col-md-1 "> {# Bloc des logos partenaires du spectacle #}             
                {% include '/userContent/_contentPartnerLogos.html.twig' %}
            </div>

            <div class="col-12 mt-2">{# Bloc des représentations #}
                {% include '/userContent/_contentRepesentations.html.twig' %}
            </div>

        </div>
    </div>

    {# Bloc des contenus en écho #}
    {% include '/userContent/_contentEcho.html.twig' %}
{% endblock %}
